	#login1{
		margin-left:1.3%; 	
	}
	.subtext{
		font-size: .6em
	}
	#regDetails{
		padding: 3.4%;
	}
	.register{
		font-size:1.4em; 
		color: gray;
		padding: 4%;
		font-weight: lighter;
		background: #f1f1f1;
		margin: 25% 5% 20% 65%; !important
	}
	
	i.fa-upload{
		position: absolute;
		top:8%;
		left:15.4%;
		padding-bottom: 55%;
	}

	
	.body{		/*Top right bottom left*/
		margin:16% 0% 0% 13%; 

	}

	h2{
		margin:0% 40% 0% 0%;
		padding-right:;
	}

	#tag{
		font-size: 4em;
		color: #f1f1f1;
	}

	
	#f,#b,#e,#m,#p{
		margin:0% 0% 0% 0%; 
		margin-top:2.8%;
		color: #fff;
		margin-right: 2.3%;
		padding-top: %;
		/*padding-bottom: 5%;*/
		font-size: 1em;		
	}

	img{
		/*padding-top: 2%;*/
		margin-top:1%;
		margin-right:2%; 
		margin-bottom:-1.5%;
		height: 3.6%;
		width: 3.6%;
	}

	img:hover,#f:hover,#b:hover,#e:hover,#m:hover,#p:hover{
		color:gray;
		cursor: pointer;
	}
